table { table-layout: fixed; border-collapse: collapse; }
td {
  vertical-align: top;
  overflow-wrap: break-word;
  padding: 1%;
  border: 1px solid #eee;
}
th {
  vertical-align: top;
  padding: 1%;
  border: 1px solid #eee;
}

td:nth-child(1) { width: 10%; }
td:nth-child(2) { width: 30%; }
td:nth-child(3) { width: 20%; }
td:nth-child(4) { width: 15%; }
td:nth-child(5) { width: 15%; }

table ul { padding-left: 1em; }
li { padding: 0.25em 0; }

#dwc th { width: 20%; }

textarea { width: 100%; }
