{% include '_header.htm' %}
    <h1>{{ doc.title }}</h1>
    <ul>
      <li><i>{{ doc.journal }}</i>
      {%- if doc.jour_topic -%}
        &nbsp;(topic = {{ doc.jour_topic }})
      {%- endif -%}
      </li>
      <li>{{ doc.year }}</li>
      {%- if doc.doi -%}
        <li><a href="https://doi.org/{{ doc.doi|urlencode }}">{{ doc.doi }}</a></li>
      {%- endif -%}
      {%- if doc.doc_topic -%}
        <li>topic = {{ doc.doc_topic }}</li>
      {%- endif -%}
    </ul>
    <table>
      <tr>
        <th>Catalog number</th>
        <th>Snippets</th>
        <th>Links</th>
        <th>Department</th>
        <th>Match quality</th>
      </tr>
    {%- for spec_num in spec_nums -%}
      <tr>
        <td><a href="http://supersite.local/portal?sample_id={{ spec_num['spec_num'] }}&limit=100&dept=any">{{ spec_num['spec_num'] }}</a></td>
        <td><ul><li>{{ spec_num['snippets']|join('</li><li>')|safe }}</li></ul></td>
        <td>
        {%- if spec_num['ezids'] -%}
          <ul>
          {%- for ezid in spec_num['ezids'] -%}
            <li><a href="/specimens/{{ ezid|urlencode }}">{{ ezid }}</a></li>
          {%- endfor -%}
          </ul>
        {%- endif -%}
        </td>
        <td>{{ spec_num['dept'] }}</td>
        <td>{{ spec_num['match_quality'] }}</td>
      </tr>
    {%- endfor -%}
  </table>
{% include '_footer.htm' %}
