{% include '_header.htm' %}
  <h1>speciminer</h1>
  <form action="/finder" method="post">
     <textarea name="text" placeholder="paste text here" rows="10">{{ text }}</textarea>
     <br /><br />
     <input type="submit">
  </form>
  {% if docinfo %}
    <b><a href="{{ docinfo['url'] }}">{{ docinfo['title'] }}</a></b>, <i>{{ docinfo['journal'] }}</i> ({{ docinfo['year'] }})
    <table>
    {% for url in docinfo['urls'] %}
      <li><a href="{{ url }}">{{ url }}</a></li>
    {% endfor %}
  </table>
  {% endif %}
  <h2>Found {{ specimens|length }} distinct specimens</h2>
  {% if specimens %}
    <table>
    {%- for specimen in specimens|dictsort -%}
      <tr>
        <td>{{ specimen[0] }}</td>
        <td><ul><li>{{ specimen[1]|join('</li><li>')|safe }}</li></ul></td>
      </tr>
    {%- endfor -%}
  </table>
  {% endif %}
{% include '_footer.htm' %}
