{% include '_header.htm' %}
  <h1>{{ specimen.spec_num }}</h1>
  {%- if metadata -%}
    <table id="dwc">
    {%- for val in metadata|dictsort -%}
      <tr>
        <th>{{ val[0] }}</th>
        <td>{{ val[1] }}</td>
      </tr>
    {%- endfor -%}
    </table>
  {%- endif -%}
  {%- for doc in documents|dictsort -%}
    <h2><a href="/documents/{{ doc[0] }}">{{ doc[1]['title'] }}</a></h2>
    <ul>
    {%- for snippet in doc[1]['snippets'] -%}
      <li>{{ snippet|safe }}</li>
    {%- endfor -%}
    </ul>
  {%- endfor -%}
{% include '_footer.htm' %}
